:root {
    --dark-color: #000;
    --light-color: #fff;
    --primary-color: #ffba00;
    --primary-darkened: #eaab00;
    --grey: #acacac;
}

body {
    margin: 0;
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
}

/* Colors */

.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.primary-bg {
    background-color: var(--primary-color);
}

.primary-el {
    color: var(--primary-color);
}
