:root {
    --dark-color: #000;
    --dark-transp: rgba(0, 0, 0, 0.65);
    --light-color: #fff;
    --primary-color: #ffba00;
    --primary-darkened: #eaab00;
    --grey: #acacac;
    --light-grey: #e7e7e7;
    --dark-grey: #212121;
}

body {
    font-size: 14px;
    margin: 0;
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 1rem;
}

/* Colors */

.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.primary-bg {
    background-color: var(--primary-color);
}

.primary-el {
    color: var(--primary-color);
}

.grey-bg {
    background: var(--light-grey);
}

/* Text */

sub {
    font-size: 0.4em;
    line-height: 1em;
    font-weight: 400;
    vertical-align: baseline;
}

.txt-super {
    font-family: 'Heebo', sans-serif;
    line-height: 1em;
    margin: 0 0 0 0;
}

.txt-head {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    margin: 0;
}

.txt-subhead {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 0.85em;
    margin: 0;
}

.txt-body {
    line-height: 1.36em;
    margin: 0;
}

.txt-subscript {
    font-size: 0.55em;
    margin: 0;
    margin-bottom: 0.25em;
}

.slider-card .txt-super {
    font-size: 0.75em;
    line-height: 0.75em;
}

.slider-card .txt-head {
    font-size: 0.86em;
}

.slider-card .txt-body {
    font-size: 0.7em;
}

.link-icon {
    font-size: 10px;
    position: relative;
    bottom: 1px;
    vertical-align: baseline;
    padding-left: 0.75em;
}

/* Navbar */

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}

.nav-item {
    display: block;
    padding: 0 1rem;
    font-size: 0.85em;
    text-decoration: none;
}

.dropdowns {
    font-weight: 700;
}

.dropdowns > a > i {
    padding-left: 1em;
}

#site-logo {
    margin-right: auto;
}

#site-logo > img {
    display: block;
    max-width: 63px;
}

#hamburger > i {
    font-size: 0.8rem;
    padding-left: 0.3em;
}

/* Cards */

.overlay-card {
    text-align: center;
    background-color: var(--dark-transp);
    padding: 2em 1.4em;
    margin: 0 10%;
}

.slider-card {
    position: absolute;
    width: 100%;
    top: 2em;
}

.slider-card .txt-super {
    font-weight: 700;
}

/* Buttons */

.button {
    background-color: var(--primary-color);
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.7px;
    border-radius: 2px;
    padding: 1em 1.5rem;
    margin: 0.35em 0;
}

.button span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}

.button p {
    flex: 1;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    font-weight: 700;
}

.button i {
    flex: 0;
}

/* Slider */

#slider {
    position: relative;
    padding: 0;
}

#slider-toggle {
    position: absolute;
    right: 0;
    color: var(--light-color);
    background-color: var(--dark-transp);
    padding: 0.5em 0.7em 0.6em 0.7em;
}

.slider-item {
    /* Potentially redundant. */
}

#slider-item-1 {
    /* background-image: url('/img/slider/mob/2022-Winter-BHP-White-Logo-Packshot-Incentives-February-Mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    overflow: hidden;
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
}

#meatballs {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 27px;
}

.meatball {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 2px solid var(--grey);
    border-radius: 50%;
    margin: 0.15em;
}

.meatball:active {
    background-color: var(--primary-color);
}

.zip-offers {
    text-align: center;
    font-size: 12px;
}

.zip-offers span,
.zip-offers a {
    color: var(--dark-color);
    font-weight: 700;
}

/* Vehicle Showcase */

#vehicle-showcase {
    text-align: center;
    padding-bottom: 3.1rem;
}

#vehicle-showcase .txt-head {
    font-size: 1.3em;
    margin: 2.5rem 0 5em 0;
}

#vehicle-showcase .txt-subhead {
    font-size: 1em;
    line-height: 1em;
    padding: 0 6%;
    margin: 0;
    margin-bottom: 0.6em;
}

.price {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.5em;
}

#flex-vehicles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 15px;
}

.showcase-vehicle {
    flex: 1 1 50%;
    flex-grow: 0;
}

.showcase-img {
    width: 87%;
    padding: 0 4.7%;
}

/* "Tile" Showcases */

.tiles {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    text-align: center;
}

.tile {
    flex: 1;
    min-width: 205px;
    color: var(--light-color);
}

.tile > div {
    margin: 66% 0.75rem 1rem 0.75rem;
}

#body-tiles > .tile > div {
    margin-top: 60%;
}

.tile .txt-head {
    font-size: 1.7em;
    line-height: 1em;
    padding-bottom: 1rem;
}

.tile .txt-body {
    padding-bottom: 1rem;
}

.tile span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.tile .txt-subhead {
    font-size: 1em;
    line-height: 1em;
    font-weight: 500;
}

#tile-1 {
    background-image: url('/img/tiles/mob/tiles-compass-mob.jpg');
    background-position: top;
    background-size: cover;
}

#tile-2 {
    background-image: url('/img/tiles/mob/tiles-wrangler-mob.jpg');
    background-position: top;
    background-size: cover;
}

#tile-3 {
    background-image: url('/img/tiles/mob/tiles-gladiator-tab.jpg');
    background-position: top 40% right 50%;
    background-size: cover;
}

#tile-4 {
    background-image: url('/img/tiles/mob/tiles-red-tab.jpg');
    background-position: top;
    background-size: cover;
}

#tile-5 {
    color: var(--dark-color);
    background-image: url('/img/tiles/mob/tiles-kbb-mob.jpg');
    background-position: top;
    background-size: cover;
}

/* Banners */

.banner {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 0;
}

.banner > img {
    max-width: 100%;
    flex: 1;
}

.banner > div {
    flex: 1;
    padding: 2rem;
}

.banner .txt-head {
    font-size: 1.3em;
    line-height: 1em;
}

.banner .txt-subhead i {
    padding-left: 0.5em;
}

/* Wagoneer Banner */

#wagoneer > div {
    padding-top: 0;
}

#wagoneer .txt-super {
    font-size: 0.75em;
    margin-top: 0.5em;
    margin-bottom: 2rem;
}

#wagoneer .txt-head {
    font-size: 1.3em;
}

#wagoneer .txt-body {
    font-size: 0.7em;
}

/* Jeep Wave */

#jeep-wave {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

#jeep-wave > div {
    padding: 0 1.6rem 1rem 1.6rem;
}

#jeep-wave > img {
    max-width: 100%;
}

#jeep-wave .txt-head {
    font-size: 1.9em;
    line-height: 1em;
    margin: 2rem 0 1rem 0;
}

#jeep-wave .txt-body {
    margin-bottom: 1rem;
    line-height: 1.4em;
}

#jeep-wave .button span {
    justify-content: center;
}

#jeep-wave .button p {
    flex: initial;
    margin-right: auto;
}

/* E-Shop Banner */

#e-shop > img {
    max-width: 100%;
    flex: 1;
}

#e-shop .txt-body {
    margin-top: 0.5em;
    font-size: 0.7em;
}

/* Auto Show Banner -- Unused */

/* Jeep Community */

#community {
    text-align: center;
    padding: 2rem 0 0 0;
}

#community > .txt-head {
    font-size: 1.85em;
    line-height: 1em;
    padding-bottom: 4rem;
}

#community-links {
    display: flex;
    flex-flow: column nowrap;
}

#community-links > div {
    flex: 1;
    flex-basis: 160px;
    margin-bottom: 1rem;
}

#community-links > div a {
    position: relative;
    top: 7.5rem;
    color: var(--light-color);
    text-decoration: none;
    font-weight: 500;
}

#community-1 {
    background-image: url('/img/social/youtube/mob/youtube-tab.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#community-2 {
    background-image: url('/img/social/instagram/mob/instagram-tab.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#community-3 {
    background-image: url('/img/social/facebook/mob/facebook-mob.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#community-4 {
    background-image: url('/img/social/twitter/mob/twitter-mob.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#community-5 {
    background-image: url('/img/social/linkedin/mob/linkedin-mob.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* Footer */

footer > div {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

footer a {
    color: var(--light-color);
    text-decoration: none;
}

/* Footer - Top Footer */

#top-footer {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--dark-grey);
    row-gap: 1.8rem;
    align-items: center;
    justify-content: center;
    padding-top: 1.9rem;
    padding-bottom: 2.85rem;
}

#top-footer > a {
    flex: 1;
    flex-basis: 50%;
    /* height: 24px; */
}

#globe-icon {
    padding-right: 0.75rem;
}

#driveability-link > img {
    height: 20px;
}

#driveability-link > i {
    bottom: 3px;
}

.search-bar {
    position: relative;
    font-size: 0;
    width: 100%;
    padding: 0 0.25rem;
}

.search-bar > input {
    display: inline-block;
    background-color: var(--light-color);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid var(--grey);
    height: 32px;
    width: 60%;
    padding-left: 2em;
}

.search-bar i {
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.search-bar > button {
    font-size: 12px;
    padding: 0.75rem 1.5rem;
    margin: 0;
    border: none;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 30%;
}

/* Footer - Mid Footer */

/* Footer - Bottom Footer */

/* Media Queries*/

@media screen and (max-width: 699px) {
    #body-tiles {
        padding-top: 0;
    }
}
