:root {
    --dark-color: #000;
    --dark-transp: rgba(0, 0, 0, 0.65);
    --light-color: #fff;
    --primary-color: #ffba00;
    --primary-darkened: #eaab00;
    --grey: #acacac;
    --light-grey: #e7e7e7;
    --dark-grey: #212121;
}

body {
    font-size: 14px;
    margin: 0;
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 1rem;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    margin: 0;
}

/* Colors */

.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.primary-bg {
    background-color: var(--primary-color);
}

.primary-el {
    color: var(--primary-color);
}

.grey-bg {
    background: var(--light-grey);
}

/* Text */

sub {
    font-size: 0.4em;
    line-height: 1em;
    font-weight: 400;
    vertical-align: baseline;
}

sup {
    position: relative;
    bottom: 0.4em;
    font-size: 0.7em;
    vertical-align: baseline;
}

.txt-super {
    font-family: 'Heebo', sans-serif;
    line-height: 1em;
    margin: 0 0 0 0;
}

.txt-head {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    margin: 0;
}

.txt-subhead {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 0.85em;
    margin: 0;
}

.txt-body {
    line-height: 1.36em;
    margin: 0;
}

.txt-subscript {
    font-size: 0.55em;
    margin: 0;
    margin-bottom: 0.25em;
}

.link-icon {
    font-size: 10px;
    position: relative;
    bottom: 1px;
    vertical-align: baseline;
    padding-left: 0.75em;
}

/* Navbar */

nav {
    position: fixed;
    z-index: 999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    width: 100%;
}

#content {
    position: relative;
    top: 45px;
}

.nav-item {
    display: block;
    padding: 0 1rem;
    font-size: 0.85em;
    text-decoration: none;
}

.dropdowns {
    font-weight: 700;
}

.dropdowns > a > i {
    padding-left: 1em;
}

#site-logo {
    margin-right: auto;
    padding-left: 0.85em;
}

#site-logo > img {
    display: block;
    max-width: 63px;
}

#hamburger > i {
    font-size: 0.8rem;
    padding-left: 0.3em;
}

/* Cards */

.overlay-card {
    text-align: center;
    background-color: var(--dark-transp);
    padding: 2em 1.4em;
    margin: 0 10%;
}

.slider-card {
    position: absolute;
    width: 100%;
    top: 2em;
}

.slider-card .txt-super {
    font-weight: 700;
    font-size: 0.75em;
    line-height: 0.74em;
}

.slider-card .txt-head {
    font-size: 0.86em;
}

.slider-card .txt-body {
    font-size: 0.74em;
}

/* Buttons */

.button {
    background-color: var(--primary-color);
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.7px;
    border-radius: 2px;
    padding: 1em 1.5rem;
    margin: 0.35em 0;
}

.button span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
}

.button p {
    flex: 1;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    font-weight: 700;
}

.button i {
    flex: 0;
}

.button:active {
    background-color: var(--primary-darkened);
}

/* Slider */

#slider {
    position: relative;
    padding: 0;
}

#slider-toggle {
    position: absolute;
    right: 0;
    color: var(--light-color);
    background-color: var(--dark-transp);
    padding: 0.5em 0.7em 0.6em 0.7em;
}

#slider-item-1 {
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
}

#meatballs {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 27px;
}

.meatball {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 2px solid var(--grey);
    border-radius: 50%;
    margin: 0.15em;
}

.meatball:active {
    background-color: var(--primary-color);
}

.zip-offers {
    text-align: center;
    font-size: 12px;
}

.zip-offers span,
.zip-offers a {
    color: var(--dark-color);
    font-weight: 700;
}

/* Vehicle Showcase */

#vehicle-showcase {
    text-align: center;
    padding-bottom: 3.1rem;
}

#vehicle-showcase .txt-head {
    font-size: 1.3em;
    margin: 2rem 0 1rem 0;
}

#vehicle-showcase .txt-subhead {
    font-size: 1em;
    line-height: 1em;
    padding: 0 6%;
    margin: 0;
    margin-bottom: 0.6em;
}

.price {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.5em;
}

#flex-vehicles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.showcase-vehicle {
    flex: 1 1 50%;
    flex-grow: 0;
}

.showcase-img {
    width: 87%;
    padding: 0 4.7%;
}

/* "Tile" Showcases */

.tiles {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    text-align: center;
}

.tile {
    flex: 1;
    min-width: 205px;
    color: var(--light-color);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.tile > div {
    margin: 15rem 0.75rem 1.5rem 0.75rem;
}

#tile-4 > div {
    margin-top: 12rem;
}

#tile-5 > div {
    margin-top: 12.5rem;
}

.tile .txt-head {
    font-size: 23px;
    line-height: 1em;
    padding-bottom: 1rem;
}

.tile .txt-body {
    padding-bottom: 1rem;
}

.tile span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.tile .txt-subhead {
    font-size: 1em;
    line-height: 1em;
    font-weight: 500;
}

#tile-1 {
    background-image: url('/img/tiles/mob/tiles-compass-mob.jpg');
}

#tile-2 {
    background-image: url('/img/tiles/mob/tiles-wrangler-mob.jpg');
}

#tile-3 {
    background-image: url('/img/tiles/mob/tiles-gladiator-mob.jpg');
}

#tile-4 {
    background-image: url('/img/tiles/mob/tiles-red-tab.jpg');
}

#tile-5 {
    color: var(--dark-color);
    background-image: url('/img/tiles/mob/tiles-kbb-mob.jpg');
}

/* Banners */

.banner {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 0;
}

.banner > img {
    max-width: 100%;
    flex: 1;
}

.banner > div {
    flex: 1;
    padding: 2rem;
}

.banner .txt-head {
    font-size: 1.3em;
    line-height: 1em;
}

.banner .txt-subhead i {
    padding-left: 0.5em;
}

/* Wagoneer Banner */

#wagoneer > div {
    padding-top: 0;
}

#wagoneer .txt-super {
    font-size: 0.75em;
    margin-top: 0.5em;
    margin-bottom: 2rem;
}

#wagoneer .txt-head {
    font-size: 1.3em;
}

#wagoneer .txt-body {
    font-size: 0.7em;
}

/* Jeep Wave */

#jeep-wave {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
}

#jeep-wave > div {
    padding: 0 1.6rem 1rem 1.6rem;
}

#jeep-wave > img {
    max-width: 100%;
}

#jeep-wave .txt-head {
    font-size: 1.9em;
    line-height: 1em;
    margin: 2rem 0 1rem 0;
}

#jeep-wave .txt-body {
    margin-bottom: 1rem;
    line-height: 1.4em;
}

#jeep-wave .button span {
    justify-content: center;
}

#jeep-wave .button p {
    flex: initial;
    margin-right: auto;
}

/* E-Shop Banner */

#e-shop > img {
    max-width: 100%;
    flex: 1;
}

#e-shop .txt-body {
    margin-top: 0.5em;
    font-size: 0.7em;
}

/* Auto Show Banner -- Unused */

/* Jeep Community */

#community {
    text-align: center;
    padding: 0;
}

#community > .txt-head {
    font-size: 1.85em;
    line-height: 1em;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
}

#community-top-row,
#community-bottom-row {
    display: flex;
    flex-flow: column nowrap;
}

#community-top-row > div,
#community-bottom-row > div {
    flex: 1;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

div#community-1,
div#community-2 {
    margin-bottom: 0.5em;
}

#community-top-row > div > img,
#community-bottom-row > div > img {
    flex: 1;
    width: 100%;
    visibility: hidden;
}

#community-top-row > div a,
#community-bottom-row > div a {
    position: absolute;
    bottom: 25px;
    color: var(--light-color);
    text-decoration: none;
    font-weight: 500;
    padding-right: 17px;
}

#community-1 {
    background-image: url('/img/social/youtube/mob/youtube-mob.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#community-2 {
    background-image: url('/img/social/instagram/mob/instagram-mob.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#community-3 {
    background-image: url('/img/social/facebook/mob/facebook-mob.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#community-4 {
    background-image: url('/img/social/twitter/mob/twitter-mob.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#community-5 {
    background-image: url('/img/social/linkedin/mob/linkedin-mob.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* Footer */

footer > div {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

footer a {
    color: var(--light-color);
    text-decoration: none;
}

/* Footer - Top Footer */

#top-footer {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--dark-grey);
    align-items: center;
    justify-content: center;
    padding-top: 1.9rem;
    padding-bottom: 2.85rem;
}

#top-footer > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#top-footer > div > a {
    flex: 1;
    flex-basis: 50%;
    margin-bottom: 1.8rem;
}

#globe-icon {
    padding-right: 0.75rem;
}

#driveability-link > img {
    height: 20px;
}

#driveability-link > i {
    bottom: 3px;
}

.search-bar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    font-size: 0;
    width: 100%;
    padding: 0 0.25rem;
    margin-top: 10px;
}

.search-bar > input {
    flex: 1 2;
    display: inline-block;
    background-color: var(--light-color);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid var(--grey);
    height: 32px;
    min-width: 0;
    padding-left: 2em;
}

.search-bar i {
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.search-bar > button {
    flex: 0 1 100px;
    font-size: 12px;
    padding: 0.75rem 1.5rem;
    margin: 0;
    border: none;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Footer - Mid Footer */

#mid-footer {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 35px;
}

#mid-footer p {
    font-size: 12px;
    margin: 0;
    font-weight: 700;
}

#footer-links {
    padding-bottom: 25px;
}

.category {
    border-bottom: 1px solid var(--light-color);
    padding-top: 14px;
    padding-bottom: 14px;
}

.link-head {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    line-height: 17px;
    cursor: pointer;
}

.link-head i:first-of-type {
    margin-left: auto;
}

.link-head i:last-of-type {
    margin-left: auto;
    display: none;
}

.toggle-category {
    display: none;
}

.toggle-category:checked + .link-head i:first-of-type {
    display: none;
}

.toggle-category:checked + .link-head i:last-of-type {
    display: initial;
}

.toggle-category:checked + .link-head + .link-list {
    display: flex;
}

.link-list {
    display: none;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 20px;
}

.link-list a {
    flex: 1;
    flex-basis: calc(50% - 20px);
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.link-list a > span {
    display: inline-block;
}

#footer-logos {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 3px;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 100%;
}

#footer-logos p {
    padding-bottom: 20px;
    line-height: 17px;
}

#footer-logos > .logo-links:first-of-type {
    flex: 1.15;
}

#footer-logos > .logo-links:last-of-type {
    flex: 1;
}

.logo-links {
    display: flex;
    flex-flow: column nowrap;
}

.logo-links > div {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    line-height: 25px;
}

#support-links > div {
    flex-direction: column;
}

#mid-footer + hr {
    width: 90vw;
    margin: auto;
}

/* Footer - Bottom Footer */

#bottom-footer {
    padding-top: 20px;
    padding-bottom: 25px;
}

#bottom-footer img {
    max-height: 26px;
}

#bottom-logos,
#bottom-links {
    padding-top: 10px;
    padding-bottom: 10px;
}

#bottom-links {
    display: flex;
    flex-flow: row wrap;
    column-gap: 15px;
    font-size: 10px;
    line-height: 10px;
}

#bottom-links > a {
    padding-bottom: 15px;
    line-height: 14px;
}

#bottom-logos {
    display: flex;
    gap: 1em;
    margin-bottom: 20px;
}

#bottom-logos > a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5em;
}

#copyright {
    font-size: 10px;
    line-height: 13px;
}

#copyright > div {
    margin-bottom: 15px;
}

#copyright-link {
    text-decoration: underline;
}

/* Media Queries*/

/* Target Widths: */
/* iPhone SE Portrait: 375px */
/* iPhone SE Landscape: 667px */
/* iPad Mini Portait 768px */
/* iPad Mini Landscape 1024px */
/* Desktop 1440px */

.show-667 {
    display: none;
}

@media (orientation: landscape) {
    #site-logo {
        padding-left: 15px;
    }
}

@media screen and (min-width: 667px) {
    .button {
        display: inline-block;
    }
    .show-667 {
        display: initial;
    }
    .slider-card {
        top: 52px;
    }

    #vehicle-showcase {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    #flex-vehicles {
        padding-right: 4.7%;
        padding-left: 4.7%;
    }
    .showcase-vehicle {
        flex-basis: 33.33%;
    }

    .tile {
        height: 509px;
        background-size: contain !important;
    }
    .tile > div {
        margin-top: 85%;
    }
    #tile-4,
    #tile-5 {
        background-size: cover !important;
    }
    #tile-4 > div {
        margin-top: 85%;
    }
    #tile-5 > div {
        margin-top: 85%;
        background-size: cover !important;
    }

    #jeep-wave > div {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    footer > div {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    #top-footer {
        padding-right: 40px;
        padding-left: 40px;
        align-items: center;
    }
    #top-footer > div {
        justify-content: space-between;
        column-gap: 9px;
        padding-left: 9px;
        padding-right: 9px;
    }
    #top-footer > div > a {
        flex-basis: calc(33.33vw - 58px);
    }
    .search-bar {
        width: 85%;
        align-self: center;
    }
    #mid-footer {
        height: 1600px;
        flex-flow: row nowrap;
        padding-top: 50px;
    }
    #footer-links {
        display: flex;
        flex-flow: column wrap;
        flex-basis: 66.66%;
        padding-right: 28px;
        padding-left: 28px;
        padding-bottom: 0;
    }
    .category {
        border-bottom: none;
        width: 50%;
        padding-top: 0;
        padding-bottom: 45px;
    }
    .toggle-icon {
        display: none !important;
    }
    .link-list {
        display: flex;
        flex-flow: column nowrap;
        width: auto;
        padding-right: 50px;
    }
    #footer-logos {
        display: block;
        flex-basis: 33.33%;
        padding-top: 0;
        padding-bottom: 0;
    }
    .logo-links {
        padding-bottom: 45px;
    }
    .logo-links > div {
        column-gap: 20px;
    }
    #bottom-logos,
    #bottom-links {
        padding-left: 38px;
        padding-right: 38px;
    }
    #copyright {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.show-700 {
    display: none;
}

@media screen and (min-width: 700px) {
    .show-700 {
        display: initial;
    }
    .hide-700 {
        display: none;
    }

    nav {
        height: 80px;
    }
    #content {
        position: relative;
        top: 80px;
    }
    #site-logo > img {
        max-width: 86px;
    }

    .slider-card {
        top: 1.25rem;
    }
    .overlay-card {
        padding-top: 40px;
        padding-bottom: 35px;
    }
    .slider-card .overlay-card div:first-of-type {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .slider-card .txt-head {
        font-size: 15px;
    }

    .search-bar > input {
        max-width: 215px;
    }

    #vehicle-showcase .txt-head {
        font-size: 23px;
    }
    #flex-vehicles {
        gap: 5px;
        padding-left: 0;
        padding-right: 0;
    }
    .showcase-vehicle {
        flex-basis: calc(25% - 5px);
    }
    .showcase-img {
        width: 100%;
        padding-bottom: 20px;
    }
    .showcase-vehicle > *,
    #flex-vehicles .txt-subhead {
        padding-right: 0;
        padding-left: 0;
    }

    .tiles {
        flex-flow: row wrap;
        gap: 20px;
        padding: 4px;
    }
    .tile > div {
        margin-right: 12px;
        margin-left: 12px;
        margin-bottom: 20px;
    }
    #tile-1 {
        background-image: url('/img/tiles/mob/tiles-compass-tab.jpg');
        height: auto;
        background-size: cover !important;
    }
    #tile-2 {
        background-image: url('/img/tiles/mob/tiles-wrangler-tab.jpg');
        height: auto;
        background-size: cover !important;
    }
    #tile-3 {
        background-image: url('/img/tiles/mob/tiles-gladiator-tab.jpg');
        height: auto;
        background-size: cover !important;
    }
    #tile-3 .txt-head {
        padding-top: 1em;
    }
    #tile-4 {
        background-image: url('/img/tiles/mob/tiles-red-tab.jpg');
        height: auto;
        background-size: cover !important;
    }
    #tile-4 > div {
        margin-top: 16em;
        margin-bottom: 35px;
    }
    #tile-5 {
        background-image: url('/img/tiles/mob/tiles-kbb-tab.jpg');
        height: auto;
        background-size: cover !important;
    }
    #tile-5 > div {
        margin-top: calc(16em - 19px);
        margin-bottom: 35px;
    }

    .banner {
        position: relative;
    }
    .banner > .overlay-card {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
        width: 30%;
        padding: 40px !important;
        margin: 0;
    }

    #wagoneer .txt-head {
        font-size: 20px;
    }
    #wagoneer .txt-body {
        font-size: 12px;
        line-height: 17px;
    }
    #wagoneer > .overlay-card:last-of-type {
        top: calc(100% - 12px);
        left: 0px;
        width: 100%;
        padding: 0 !important;
    }
    #wagoneer .overlay-card:last-of-type .txt-super {
        padding: 10px !important;
        margin: 0 !important;
    }

    #jeep-wave > div {
        padding-right: 45px;
        padding-left: 45px;
    }
    #jeep-wave .txt-head {
        font-size: 33px;
    }

    #e-shop {
        height: auto;
    }
    #e-shop .overlay-card {
        left: initial;
        right: 38px;
        height: calc((600 / 1450) * 100vw - 71px);
        padding-top: 30px !important;
    }
    #e-shop .overlay-card .txt-body {
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 5px;
    }

    #community > .txt-head {
        font-size: 33px;
    }
    #community-top-row {
        flex-flow: row wrap;
        gap: 15px;
    }
    #community-top-row > div {
        flex-basis: calc(33.33% - 15px);
        margin-bottom: 20px;
    }
    #community-top-row > div a {
        bottom: 16px;
    }
    #community-bottom-row {
        flex-flow: row wrap;
        gap: 20px;
    }
    #community-bottom-row > div {
        flex-basis: calc(50% - 20px);
        margin-bottom: 20px;
    }
    #community-bottom-row > div a {
        bottom: 32px;
    }
    #community-1 {
        background-image: url('/img/social/youtube/mob/youtube-tab.jpg');
    }
    #community-2 {
        background-image: url('/img/social/instagram/mob/instagram-tab.jpg');
    }
    #community-3 {
        background-image: url('/img/social/facebook/mob/facebook-tab.jpg');
    }
    #community-4 {
        background-image: url('/img/social/twitter/mob/twitter-tab.jpg');
    }
    #community-5 {
        background-image: url('/img/social/linkedin/mob/linkedin-tab.jpg');
    }

    #top-footer {
        padding-top: 35px;
        padding-left: 85px;
        align-items: flex-start;
    }
    #top-footer > div > a {
        margin-bottom: 25px;
        flex-basis: calc(33.33vw - 100px);
    }
    .search-bar {
        width: 100%;
    }
    #mid-footer + hr {
        width: 83.33vw;
    }
    #mid-footer {
        height: 1420px;
        padding-right: 55px;
        padding-left: 55px;
    }
    #bottom-logos,
    #bottom-links {
        padding-right: 56px;
        padding-left: 56px;
    }
    #bottom-links {
        padding-bottom: 5px !important;
    }
    #copyright {
        padding-top: 0px !important;
        padding-right: 46px;
        padding-left: 46px;
    }
}

.show-1024 {
    display: none;
}

@media screen and (min-width: 1024px) {
    .show-1024 {
        display: initial;
    }
    .hide-1024 {
        display: none;
    }

    nav {
        justify-content: flex-start;
    }
    .nav-item {
        font-size: 10px;
        line-height: 13px;
    }

    #site-logo {
        padding-right: 8px;
        margin-right: 0;
    }
    #site-logo > img {
        width: 63px;
    }

    .nav-item {
        padding: 0 9px;
        font-weight: 500;
    }
    .dropdowns > a > i {
        position: relative;
        bottom: 0.1em;
        padding-left: 4px;
        font-size: 8px;
    }

    #expanded-hamburger {
        margin-left: auto;
        display: flex;
        flex-flow: row nowrap;
    }
    .keyline {
        height: 20px;
        border-left: var(--grey) solid 1px;
        margin: 0 10px;
    }
    #expanded-hamburger > .nav-item {
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.7px;
    }
    #expanded-hamburger i {
        color: var(--grey);
        padding-right: 6px;
    }
    #expanded-hamburger > #spanish {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    #expanded-hamburger > #spanish > i {
        font-size: 14px;
    }
    #expanded-hamburger > .nav-item:last-of-type {
        margin-left: 9px;
    }

    .slider-card {
        top: 4.5%;
        width: auto;
        margin-right: auto;
        margin-left: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .slider-card .txt-super {
        font-size: 15px;
        line-height: 1em;
    }
    .slider-card .txt-head {
        font-size: 24px;
        line-height: 1em;
    }
    .slider-card .txt-body {
        font-size: 11px;
        line-height: 1.5em;
    }
    .slider-card .button {
        font-size: 11px;
    }
    #meatballs {
        bottom: 35px;
    }

    #vehicle-showcase {
        padding-bottom: 20px;
    }
    #vehicle-showcase > .txt-head {
        font-size: 30px;
        line-height: 1em;
    }
    #flex-vehicles {
        padding-right: 6px;
        padding-left: 6px;
    }
    .showcase-vehicle {
        flex-basis: calc(20% - 5px);
    }
    .price {
        font-size: 17px;
        font-weight: 700;
        line-height: 1em;
    }

    .tiles {
        padding: 14px;
        gap: 30px;
    }

    .tile > div {
        margin-top: 45%;
        margin-right: 12px;
        margin-left: 12px;
        margin-bottom: 30px;
    }
    #tile-1 {
        background-image: url('/img/tiles/desk/tiles-compass-desk.jpg');
    }
    #tile-2 {
        background-image: url('/img/tiles/desk/tiles-wrangler-desk.jpg');
    }
    #tile-2 > div {
        margin-top: calc(45% - 23px);
    }
    #tile-3 {
        background-image: url('/img/tiles/desk/tiles-gladiator-desk.jpg');
    }
    #tile-3 .txt-head {
        padding-top: 0;
    }
    #tile-4 {
        background-image: url('/img/tiles/desk/tiles-red-desk.jpg');
    }
    #tile-4 > div {
        margin: 26% 100px 40px;
    }
    #tile-5 {
        background-image: url('/img/tiles/desk/tiles-kbb-desk.jpg');
    }
    #tile-5 > div {
        margin: 26% 100px 40px;
    }

    #wagoneer > .overlay-card {
        left: 5%;
        width: 25%;
        z-index: 1;
        padding-bottom: 0px !important;
        padding-top: 25px !important;
        height: calc((300 / 1450) * 100vw - 26px);
    }
    #wagoneer .txt-head {
        font-size: 28px;
    }
    #wagoneer .txt-body {
        font-size: 11px;
        line-height: 1.5em;
    }
    #wagoneer .button {
        font-size: 11px;
        line-height: 20px;
    }
    #wagoneer > .overlay-card:last-of-type {
        height: auto;
        z-index: 0;
    }

    #jeep-wave {
        flex-flow: row nowrap;
        align-items: center;
    }
    #jeep-wave > .show-1024 {
        max-width: 50%;
        max-height: 164px;
        flex-basis: 50%;
    }
    #jeep-wave > .show-700 {
        display: none;
    }
    #jeep-wave > div {
        padding: 70px;
        padding-bottom: 45px;
    }
    #jeep-wave .txt-head {
        margin-top: 0;
    }
    #jeep-wave .txt-body {
        font-size: 11px;
        line-height: 1.5em;
    }
    #jeep-wave .button {
        margin-bottom: 20px;
    }

    #e-shop > .overlay-card {
        height: auto;
        width: 25%;
        right: 5%;
        padding: 30px !important;
    }
    #e-shop .overlay-card > img {
        width: 60%;
    }
    #e-shop .overlay-card > .txt-body,
    #e-shop .overlay-card > .button {
        font-size: 11px;
        line-height: 1.5em;
    }

    #community > .txt-head {
        padding-bottom: 70px;
    }
    #community-top-row {
        gap: 22.5px;
    }
    #community-top-row > div {
        flex-basis: calc(33.33% - 22.5px);
        margin-bottom: 30px;
    }
    #community-top-row > div a {
        bottom: 25px;
    }
    #community-bottom-row {
        gap: 30px;
    }
    #community-bottom-row > div {
        flex-basis: calc(50% - 30px);
        margin-bottom: 30px;
    }
    #community-bottom-row > div a {
        bottom: 40px;
    }
    #community img.show-700 {
        display: none;
    }

    #community-4 > img,
    #community-5 > img {
        height: calc((325 / 975) * (calc(33.33% - 22.5px)));
    }

    #top-footer {
        flex-flow: row nowrap;
        padding-right: 85px;
        padding-left: 85px;
        padding-bottom: 30px;
        column-gap: 20px;
    }
    #top-footer > div {
        column-gap: 30px;
        justify-content: flex-start;
    }
    #top-footer > div > a {
        flex-basis: initial;
        margin-bottom: 15px;
        flex-grow: 0;
    }
    .search-bar {
        align-self: flex-start;
        min-width: 25%;
        flex-basis: 35%;
        width: 100%;
    }

    #mid-footer {
        padding-right: 85px;
        padding-left: 85px;
        height: 830px;
    }
    #footer-links {
        flex-basis: 80%;
        padding-right: 8px;
        padding-left: 8px;
        column-gap: 0px;
    }
    .category {
        max-width: 20%;
    }
    .link-list {
        padding-right: 0px;
    }
    .link-list > a {
        margin-right: 0;
    }
    #bottom-logos,
    #bottom-links {
        padding-top: 0;
    }
    #footer-logos {
        flex-basis: 20%;
    }

    #bottom-footer > div:first-child {
        display: flex;
        width: calc(83.33vw - 30px);
        margin: auto;
    }
    #bottom-logos {
        margin-right: auto;
        padding-left: 0px;
    }
    #bottom-links {
        column-gap: 13px;
        max-width: 50%;
        justify-content: flex-end;
        padding-right: 0px;
    }
    #copyright {
        max-width: 41.66%;
        padding-left: 61px;
        padding-bottom: 20px;
    }
}

/* @media screen and (min-width: 1440px) {
} */
